doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		if title
			title Hyperflora | #{title}
		else
			title Hyperflora 
		link(rel='icon', href='img/icons/favicon.ico?', type='image/x-icon', sizes='16x16 32x32 64x64 128x128')
		link(rel='stylesheet', href='/css/normalize.css')
		link(rel='stylesheet', href='/css/fonts.css')
		block style
		
	body
		block header
		block content
		
		script(src='/js/lib/jquery-3.2.1.min.js')
		script(src='/js/common.js')
		block script
