doctype html
html
	head
		title Hyperflora #{title}
		link(rel='stylesheet', href='css/normalize.css')
		link(rel='stylesheet', href='css/fonts.css')
		link(rel='stylesheet', href='css/styles.css')
		block style
		
	body
		block content
		
		script(src='bower_components/jquery/dist/jquery.min.js')
		block script
