extends layouts/main

block style
  link(rel='stylesheet', href='/css/home.min.css')

block content
  div(class='kal_main')
    div(class='kal_cont')
      - var n = 0
      while n < 12
        div(class='ks s'+((n++)+1))
          div(class='ksc')
    div(class='grad_overlay')

  section(class='content')
    h1 Hyperflora

    //- div(class='select') Select a channel
    ul(class='categories')
      li(class='everything')
        a(href='/watch')
          span Everything
      li(class='music')
        a(href='/watch?channel=music')
          span Music
      li(class='animation')
        a(href='/watch?channel=animation')
          span Animation
      li(class='experimental')
        a(href='/watch?channel=experimental')
          span Experimental
      li(class='educational')
        a(href='/watch?channel=educational')
          span Educational    
      //-
        Channel ideas:
        - music
        - animation
        - food
        - science
        - philosophy
        - experimental
        - educational
        - animals
            
    a(href='/submit', class='submit') Submit a video

block script
  script(src='/js/home.js')
