extends layouts/main

block content
  h1 Hyperflora
  //- ul(class='categories')
    //- li
    //-   a All
    //- li
    //-   a Animation
    //- li
    //-   a Music
    //- li
    //-   a Food
    //- li
    //-   a Science
    //- li
    //-   a Philosophy
    
  h2
    a(href='/watch') Watch Now!
          
        
