extends layouts/main

block style
  link(rel='stylesheet', href='css/home.min.css')

block content
  div(class='kal_main')
    div(class='kal_cont')
      - var n = 0
      while n < 12
        div(class='ks s'+((n++)+1))
          div(class='ksc')
    div(class='grad_overlay')

  section(class='content')
    h1 Hyperflora

    //- div(class='select') Select a channel
    ul(class='categories')
      li(class='everything')
        a(href='/watch')
          span Begin
      li(class='music')
        a(href='/watch?channel=music')
          span Music
      li(class='animation')
        a(href='/watch?channel=animation')
          span Animation
      //-
        li(class='food')
          a(href='/watch')
            span Food
        li(class='science')
          a(href='/watch')
            span Science
        li(class='philosophy')
          a(href='/watch')
            span Philosophy
        li(class='experimental')
          a(href='/watch')
            span Experimental
        li(class='educational')
          a(href='/watch')
            span Educational
        li(class='animals')
          a(href='/watch')
            span Animals
            
    a(href='/submit', class='submit') Submit a video

block script
  script(src='js/home.js')
