extends layouts/main

block content
  h2(style='margin: 30px;') Videos in Hyperflora
  ul(class='videos')
    each vid in videos
      li
        if vid.host == "youtube"
          a(href="https://youtube.com/watch?v="+vid.url, target="_blank")
            h3= vid.title
            p Channels: #{vid.channels.toString()}
        else
          a(href="https://vimeo.com/"+vid.url, target="_blank")
            h3= vid.title
            p Channels: #{vid.channels.toString()}
