extends layouts/main

block style

block content
  h1 Stats
  br
  p There are #{total} videos in Hyperflora
  br
  p Here are the totals by channel:
  ul
    each val, key in channelCounts
      li #{key}: #{val}
