extends layouts/main

block style
  link(rel='stylesheet', href='/css/submit.min.css')
  
block content
  div(class='content')
    h1
      a(href='/') Hyperflora
    form(action='/submit', method='POST')
      input(type='text', placeholder='YouTube URL', name='url')
      button(type='submit') Submit
