extends /layouts/main

block style
  link(rel='stylesheet', href='/css/submit.min.css')
  
block content
  h1(class='cutout')
    a(href='/') Hyperflora
    
  if message
    span(class='error') #{message}
    
  form(action='/submit', method='POST')
    input(type='text', placeholder='YouTube URL', name='url')
    button(type='submit') Submit
