extends /layouts/main

block style
  link(rel='stylesheet', href='/css/watch.min.css')

block content
  div(id='video-wrapper')
    div(class='nav-bar clean')
      nav
        a(href='/', class='home')
          h1(class='cutout') Hyperflora
        a(href='https://www.youtube.com/watch?v=' + video.youtubeId, target='_blank', class='video-link')= video.title
        a(href='/watch', class='skip') Skip Video
      div(class='nav-zone')
        div(class='pause-icon')
      button(class='fullscreen-toggle')
      
    div(id='video-player', data-searchId=video.searchId, data-videoId=video.youtubeId)

block script
  script(src='http://www.youtube.com/player_api')
  script(src='/js/player.js')
