extends layouts/main

block style
  link(rel='stylesheet', href='/css/watch.min.css')

block content
  div(class='nav-bar')
    nav
      h1(class='left cutout') 
        a(href='/') Hyperflora
      h2(class='center')
        a(href='https://www.youtube.com/watch?v=' + videoId, target='_blank', class='video-link')= title
      a(class='next right', href='/watch') Skip Video
    div(class='nav-zone')
      
  div(id='video-player', data-objId=objId, data-videoId=videoId)

block script
  script(src='http://www.youtube.com/player_api')
  script(src='/js/player.js')
