<nav id="video-nav">
  <h1>Hyperflora</h1>
  <h2>Supersymmetry</h2>
  <span>Channel: <a class="channel-switch">Everything</a></span>
</nav>

<iframe id="video-player" src="" frameborder="0"></iframe>

<script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
<script src="js/helper.js"></script>
<script src="js/player.js"></script>