body {
  background-color: #fafafa;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding: 20px 60px;
  margin-bottom: 28px;

  background-color: #000;

  h1 {
    color: #fff;
  }

  .submit {
    margin-bottom: 30px;
    width: 100%;
    max-width: 500px;

    input {
      display: inline;
    }

    button {
      display: inline;
    }
  }
}

.tabbutton {
  background: none;
  border: none;
  outline: none;

  color: #666;
  font-size: 1.4em;
  line-height: 1.8em;
  font-weight: bold;
  text-transform: lowercase;

  &.active {
    color: #fff;
  }

  &:hover:not(.active) {
    color: #aaa;
  }
}

.tabcontent {
  display: none;

  &.active {
    display: block;
  }
}

ul button {
  width: 24px;
  height: 24px;
  margin-left: 5px;

  border: none;
  -webkit-transition: opacity .1s;
  transition: opacity .1s;

  &:hover {
    opacity: 1;
  }
}

ul.list button {
  float: right;
}

ul.videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  grid-row-gap: .5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-around;
  -ms-flex-line-pack: start;
      align-content: flex-start;

	padding: 0 30px;
	list-style: none;

	li {
		margin-bottom: 20px;

		border: 1px solid #ddd;
		border-radius: 2px;
		background-color: #fff;
  }

	a {
		display: block;
    width: 100%;
    height: 46px;
    padding: 10px 12px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    &:hover {
			background-color: #f7faff;
    }
  }

  h3 {
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    background-color: #eee;
    border-top: 1px solid #ddd;

    form {
      display: inline;
    }
  }

  &.unapproved .controls {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: space-between;
  }
}

.delete {
  background: url(../img/icons/delete.png) no-repeat center center;
  background-size: contain;
  opacity: .8;
}

.approve {
  background: url(../img/icons/check.png) no-repeat center center;
  background-size: contain;
  opacity: .6;
}

.unapprove {
  background: url(../img/icons/x.png) no-repeat center center;
  background-size: contain;
  opacity: .6;
}
