body {
  padding: 0 30px;
}

h1 {
  margin: 20px 0;
}

.submit {
  display: none;
  margin-bottom: 30px;

  input {
    width: 100%;
    max-width: 400px;
  }
}

nav {
  margin-bottom: 24px;
  text-align: center;
}

.tabbutton {
  background: none;
  border: none;
  outline: none;

  color: #888;
  font-size: 1.5em;
  font-weight: bold;

  &.active {
    color: #3035cc;
  }

  &:hover:not(.active) {
    color: #555;
  }
}

.tabcontent {
  display: none;

  &.active {
    display: block;
  }
}

ul button {
  width: 24px;
  height: 24px;
  margin-left: 5px;

  border: none;
  -webkit-transition: opacity .1s;
  transition: opacity .1s;

  &:hover {
    opacity: 1;
  }
}

ul.list button {
  float: right;
}

ul.videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;

	padding: 0;
	list-style: none;

	li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    width: 400px;
		margin-bottom: 20px;

		border: 1px solid #ddd;
		border-radius: 2px;
		background-color: #fff;
  }

	a {
		display: block;
    width: 100%;
    padding: 10px 12px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    &:hover {
			background-color: #f7faff;
    }
  }

  h3 {
    font-weight: normal;
  }

  .controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    padding: 10px;
    background-color: #eee;
    border-top: 1px solid #ddd;

    form {
      display: inline;
    }
  }

  &.unapproved .controls {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.delete {
  background: url(../img/icons/delete.png) no-repeat center center;
  background-size: contain;
  opacity: .8;
}

.approve {
  background: url(../img/icons/check.png) no-repeat center center;
  background-size: contain;
  opacity: .6;
}

.unapprove {
  background: url(../img/icons/x.png) no-repeat center center;
  background-size: contain;
  opacity: .6;
}
