body {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.content {
  position: relative;
  z-index: 20;

  padding: calc(20vw - 40px) 0 0;
}

h1 {
  margin: 0 auto 10vw;
  padding-left: 30px;

  font-size: 4em;
  letter-spacing: 30px;
}

.select {
  margin-bottom: 10px;
  letter-spacing: 5px;
}

a {
  display: block;
  color: #fff;


  &.submit {
    padding: 50px 0 60px;
    font-size: 1.5em;
    letter-spacing: 3px;
  }
}

ul {
  list-style: none;
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  background-color: #222;

  -webkit-box-shadow: 2px 10px 20px 2px rgba(0,0,0,0.40);
  box-shadow: 2px 10px 20px 2px rgba(0,0,0,0.40);

  a {
    padding: 80px 0;
    font-size: 2.5em;
    letter-spacing: 6px;

    background: rgba(255, 255, 255, 0);
    -webkit-transition: background .5s;
    transition: background .5s;

    span {
      padding: 0px 12px 8px;
      border-bottom: 4px solid #fff;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }

  &.everything {
    a {
      font-size: 3em;
    }

    margin-bottom: 1rem;

    background: url(../img/all.jpg) no-repeat center center;
    background-size: cover;
  }

  &.music {
    background: url(../img/music.png) no-repeat center center;
    background-size: cover;
  }

  &.animation {
    background: url(../img/animation.jpg) no-repeat center center;
    background-size: cover;
  }

  &.experimental {
    background: url(../img/experimental.jpg) no-repeat center center;
    background-size: cover;
  }

  &.discovery {
    background: url(../img/discovery.png) no-repeat center center;
    background-size: cover;
  }

  &.nature {
    background: url(../img/nature.png) no-repeat center center;
    background-size: cover;
  }

  &.comedy {
    background: url(../img/comedy.png) no-repeat center center;
    background-size: cover;
  }

  &.nightmare {
    background: url(../img/nightmare.png) no-repeat center center;
    background-size: cover;
  }

  &.deep-dive {
    background: url(../img/deep-dive.png) no-repeat center center;
    background-size: cover;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1rem;
  grid-row-gap: 1rem;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

/* Kaleidoscope thanks to https://www.script-tutorials.com/creating-kaleidoscope-using-jquery-and-css/ */
.kal_main{
  position: absolute;
  top: -30vw;
  overflow:hidden;
  width:100vw;
  height:100vw;
  margin:auto
}
.kal_cont{width:140%;height:140%;left:-20%;top:-20%;position:relative;margin:auto}
.kal_cont .ks{
-webkit-transform-origin:right top;transform-origin:right top;
width:50%;height:50%;position:absolute;top:50%;left:0;z-index:10;overflow:hidden;
}
.kal_cont .ksc{
height:100%;width:100%;-webkit-transform:rotate(30deg);transform:rotate(30deg);position:relative;-webkit-transform-origin:left top;transform-origin:left top;left:100%;top:0;
background-image:url(../img/kal/space.jpg)
}

.grad_overlay {
  position: absolute;
  width: 100vw;
  height: 70vw;
	top: 30vw;
	left: 0;
	background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,1)));
	background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,1));
  z-index: 15;
}

/* styles for each sector */
.kal_cont .s1 {
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.kal_cont .s2 {
  -webkit-transform: rotate(30deg) matrix(-1,0,0,1,0,0);
  transform: rotate(30deg) matrix(-1,0,0,1,0,0);
}
.kal_cont .s3 {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
.kal_cont .s4 {
  -webkit-transform: rotate(90deg) matrix(-1,0,0,1,0,0);
  transform: rotate(90deg) matrix(-1,0,0,1,0,0);
}
.kal_cont .s5 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.kal_cont .s6 {
  -webkit-transform: rotate(150deg) matrix(-1,0,0,1,0,0);
  transform: rotate(150deg) matrix(-1,0,0,1,0,0);
}
.kal_cont .s7 {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
}
.kal_cont .s8 {
  -webkit-transform: rotate(210deg) matrix(-1,0,0,1,0,0);
  transform: rotate(210deg) matrix(-1,0,0,1,0,0);
}
.kal_cont .s9 {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
}
.kal_cont .s10 {
  -webkit-transform: rotate(270deg) matrix(-1,0,0,1,0,0);
  transform: rotate(270deg) matrix(-1,0,0,1,0,0);
}
.kal_cont .s11 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.kal_cont .s12 {
  -webkit-transform: rotate(330deg) matrix(-1,0,0,1,0,0);
  transform: rotate(330deg) matrix(-1,0,0,1,0,0);
}


@media only screen and (max-width: 780px) {
  h1 {
    font-size: 3em;
    letter-spacing: 20px;
    padding-left: 20px;
  }
}

@media only screen and (max-width: 550px) {
  h1 {
    font-size: 2.4em;
    letter-spacing: 10px;
    padding-left: 10px;
  }

  li {
    font-size: .7em;
  }
}
