html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Circular';
	vertical-align: baseline;
}

h1.cutout {
  text-transform: uppercase;
  letter-spacing: 1px;

  a {
    background: url(../img/title.jpg) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

	&.music a {
		background: url(../img/music.png) no-repeat;
		-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
		background-size: 100% auto;
		background-position: center center;
	}

	&.animation a {
		background: url(../img/animation.jpg) no-repeat;
		-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
		background-size: 200% auto;
		background-position: center bottom;
	}

	&.comedy a {
		background: url(../img/comedy.png) no-repeat;
		-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
		background-size: 100% auto;
		background-position: center top;
	}

	&.experimental a {
		background: url(../img/experimental.jpg) no-repeat;
		-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
		background-size: 200% auto;
		background-position: center center;
	}

	&.nature a {
		background: url(../img/nature.png) no-repeat;
		-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
		background-size: 200% auto;
		background-position: center center;
	}

	&.discovery a {
		background: url(../img/discovery.png) no-repeat center;
		-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
		background-size: 300% auto;
		background-position: left bottom;
	}

	&.food a {
		background: url(../img/food.jpg) no-repeat;
		-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
		background-size: 400% auto;
		background-position: center center;
	}

	&.nightmare a {
		background: url(../img/nightmare.png) no-repeat;
		-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
		background-size: 500% auto;
		background-position: center bottom -80px;
	}
}

a {
	text-decoration: none;
}
