@import 'common';

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 100vw;
  height: 100vh;

  text-align: center;
  background: black;
  color: #fff;
}

h1 {
  margin: 0;
  margin-bottom: 60px;
}

form {
  width: 100%;
}

input {
  width: 100%;
  max-width: 600px;

  background: none;
  border: none;
  outline: none;
  border-bottom: 4px solid #fff;
  padding: 5px;

  font-size: 1.4em;
}

button {
  display: block;
  margin: 20px auto 0;
  background: none;
  border: none;
  outline: none;

  text-transform: uppercase;
  font-size: 1.2em;

  &:hover {
    color: #ddd;
  }
}
