@import 'common';

html, body {
	height: 100vh;
	overflow: hidden;
  background-color: #000;
}

#video-wrapper {
	width: 100vw;
	height: 100vh;
}

.nav-bar {
	position: absolute;
  top: 0;

  width: 100%;

	opacity: 1;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;

	&.clean {
		.skip {
			opacity: 0;
		}

		.fullscreen-toggle {
			opacity: 0;
		}
	}

	&.hidden {
    opacity: 0;
		-webkit-transition: opacity 1.5s;
		transition: opacity 1.5s;

		&, a, button {
			cursor: none;
		}
  }
}

.nav-zone {
  width: 100%;
	height: calc(100vh - 60px);

	.pause-icon {
		height: calc(100% - 30px);
		background: url(../img/icons/pause.png) no-repeat;
		background-size: 10% auto;
		background-position: center calc(50% - 20px);

		opacity: 0;
		-webkit-transition: opacity .3s;
		transition: opacity .3s;
	}

	&.paused .pause-icon {
		opacity: .6;
	}
}

nav {
	display: grid;
  grid-template-columns: 280px minmax(200px, 800px) minmax(150px, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

	@include breakpoint('small') {
		grid-template-columns: 1fr 1fr;
	}

  height: 60px;
  width: 100%;

  background-color: rgba(0, 0, 0, 1);

  a {
		display: inline-block;
		height: 100%;
		padding: 0 30px;

    color: #fff;
		text-align: left;
		line-height: 60px;
	}

	.video-link {
		padding: 0;

		font-size: 1.5em;
		font-weight: lighter;

		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;

		@include breakpoint('small') {
			display: none;
		}
	}

	.skip {
		font-size: 1.1em;
		font-weight: bold;
		text-align: right;

		opacity: 1;
		-webkit-transition: opacity .2s;
		transition: opacity .2s;
	}
}

.fullscreen-toggle {
	position: absolute;
	left: 26px;
	bottom: 16px;
	width: 50px;
	height: 50px;

	background: url(../img/icons/fullscreen.png) no-repeat center center;
	background-size: 90% auto;
	border: none;
	outline: none;
	opacity: .6;

	-webkit-transition: opacity .2s;
	-webkit-transition: opacity .2s, background-size .2s;
	transition: opacity .2s, background-size .2s;

	&:hover {
		opacity: .8;
		background-size: 100% auto;
	}

	&.active {
		background-size: 90% auto;

		&:hover {
			background-size: 80% auto;
		}
	}
}

#video-player {
	width: 100vw;
	height: calc(100%);
}
